.note {
  max-width: 100%;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 2px;
  display: flex;
  align-items: center;

  cursor: pointer;
}
.note:hover {
  border: 1px solid white;
}

.current-note {
  background-color: hsl(0, 0%, 16%);
}
.current-note:hover {
  border: 1px solid transparent;
}

.note-label {
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.delete-btn {
  margin-left: auto;
  height: 100%;
  aspect-ratio: 1/1;
}
