.note {
  max-width: 100%;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.note:hover {
  border: 1px solid white;
}

.current-note {
  background-color: hsl(0, 0%, 16%);
}
.current-note:hover {
  border: 1px solid transparent;
}
