@use '../../assets/styles/globals.scss';

.note-library {
  height: 100%;
  overflow: scroll;
  // scrollbar-color: white #2a2a2a;
  // scrollbar-width: thin;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  display: flex;
  flex-direction: column;
  gap: 20px;
  -webkit-mask-image: linear-gradient(180deg, #000 80%, transparent);
}
.note-library::-webkit-scrollbar {
  display: none;
}
