@use '../../assets/styles/globals.scss';

.note-library-item {
  max-width: 100%;
  padding: 5px 0;
  // border: 1px solid transparent;
  border-radius: globals.$border-radius;
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.note-label:hover {
  border: 1px solid globals.$primary-color;
}

.current-note {
  background-color: globals.$highlight-color;
}
.current-note:hover {
  border: 1px solid transparent;
}

.note-label {
  height: 100%;
  width: 78%;
  border: 1px solid transparent;
  border-radius: globals.$border-radius;
  display: flex;
  align-items: center;
  transition: border globals.$tr-speed;
}

.note-label-text {
  padding: 0 5px 0 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.delete-btn {
  display: flex;
  margin-left: auto;
  height: 100%;
  aspect-ratio: 1/1;
  transition: all globals.$tr-speed;
}
.delete-btn.pending {
  color: globals.$bg-color;
  border: 1px solid globals.$primary-color;
  background-color: globals.$caution-color;
}
.delete-btn:hover {
  color: globals.$bg-color;
  border: 1px solid globals.$primary-color;
  background-color: globals.$caution-color;
  // transition: all globals.$tr-speed;
}

.approval-box {
  padding: 5px;
  border-radius: globals.$border-radius;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  color: globals.$bg-color;
  border: 1px solid globals.$primary-color;
  background-color: globals.$caution-color;
  visibility: hidden;
  opacity: 0;
  transition: visibility globals.$tr-speed, opacity globals.$tr-speed;
}
.approval-box.active {
  visibility: visible;
  opacity: 1;
}
.approval-box > span {
  height: 100%;
  padding: 5px 0;
  transition: all globals.$tr-speed ease-in-out;
}
.approval-box > span:hover {
  color: globals.$primary-color;
  // background-color: white;
  transition: all globals.$tr-speed ease-in-out;
}
