.note-editor {
  margin: 20px 60px;
}

.note-title {
  padding: 0 30px 30px 0;
  border-bottom: 1px solid #2a2a2a;
}

p {
  line-height: 1.5rem;
}
.btn-container {
  display: flex;
  justify-content: right;
}
.save-btn {
  width: 100px;
}
