.note-editor {
  min-height: 93vh;
  max-height: 93vh;
  min-width: 400px;
  max-width: 75vw;
  margin: 20px 60px;
  display: flex;
  flex-direction: column;
}

.note-title-wrapper {
  height: 6%;
  max-width: 100%;
  padding: 1rem 5px;
  border: 1px solid transparent;
  position: relative;
}

.note-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.full-title {
  padding: 5px;
  border: 1px solid white;
  border-radius: 2px;
  background-color: black;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.3s 0s;
}
.full-title.shown {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s 0.5s;
}

.note-title-input {
  height: 45px;
  margin: 10px 0;
  padding: 6px 5px 3px 5px;
  border: 1px solid white;
  border-radius: 2px;
  outline-width: 0px;
  background-color: black;
  color: white;
  font-family: 'Merriweather', serif;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.note-body {
  height: 94%;
  margin: 0 0 1rem 0;
  padding: 1rem 6px 0 6px;
  border-top: 1px solid #2a2a2a;
  font-size: 14px;
  line-height: 1.5rem;
  white-space: pre-wrap;
  overflow: scroll;
  // scrollbar-color: white #2a2a2a;
  // scrollbar-width: thin;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  cursor: pointer;
}
.note-body-input {
  height: 100%;
  padding: 20px 5px;
  margin-bottom: 15px;
  outline-width: 0px;
  border: 1px solid white;
  border-radius: 2px;
  background-color: black;
  color: white;
  font-family: 'Merriweather', serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1.5px;
  line-height: 1.5rem;
  white-space: pre-wrap;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.unedited {
  color: grey;
}

.note-body::-webkit-scrollbar {
  display: none;
}
.btn-container {
  display: flex;
  justify-content: right;
}
.reseed-btn {
  width: 100px;
}
