:root {
  --background-color: #202120;
  --primary-color: #f8f7f3;
  --secondary-color: #545454;
  --link-color: #ffcb6c;
  --highlight-color: #3b4251;
  --hightlight-text: #f8f7f3;
  --caution-color: #ff5655;
}

$bg-color: var(--background-color);
$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$link-color: var(--link-color);
$highlight-color: var(--highlight-color);
$highlight-text: var(--highlight-text);
$caution-color: var(--caution-color);

$border-radius: 4px;
$tr-speed: 0.3s;
$tr-delay: 0.8s;
