:root {
  --background-color: black;
  --primary-color: white;
  --secondary-color: grey;
  --link-color: #48a1ef;
  --highlight-color: #292929;
  --caution-color: #e63946;
}

$bg-color: var(--background-color);
$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$link-color: var(--link-color);
$highlight-color: var(--highlight-color);
$caution-color: var(--caution-color);

$border-radius: 4px;
$tr-speed: 0.3s;
$tr-delay: 0.8s;
