@use '../../assets/styles/globals.scss';

.nav-footer {
  width: 100%;
  margin-top: auto;
  padding: 0 15px;
  gap: 20px;
  align-self: center;
  display: flex;
  justify-content: center;
}

a {
  color: inherit;
}

a:hover {
  color: globals.$link-color;
  transition: all globals.$tr-speed;
}
